/* No more used due to styled-components use. */

.Board-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 5%;
    
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }